@using MVCDemo.Models
@model CreateEmployeeViewModel
@{
    ViewBag.Title = "CreateEmployee";
}


<h2>Create Employee</h2>

<style type="text/css">
    input {
        margin: 2px;
        padding: 2px;
    }

    .required .errormessage {
        color: red;
    }
</style>
<div>
    <form action="/Employee/SaveEmployee" method="post" style="margin:10px">
        Job number:<input type="text" id="txtJobNumber" name="JobNumber" value="@Model.JobNumber" placeholder="Type Job number." />
        <span class="required">*@Html.ValidationMessage("JobNumber")</span><br />
        First Name:<input type="text" id="txtFirstName" name="FirstName" value="@Model.FirstName" placeholder="Type first name." />
        <span class="required">*@Html.ValidationMessage("FirstName")</span><br />
        Last Name:<input type="text" id="txtLastName" name="LastName" value="@Model.LastName" placeholder="Type last name." />
        <span class="required">*@Html.ValidationMessage("LastName")</span><br />
        E-mail:<input type="text" name="Email" value="@Model.Email" placeholder="Type last E-mail." />
        <span class="required">*@Html.ValidationMessage("Email")</span><br />
        Salary:<input type="number" id="Salary" name="Salary" value="@Model.Salary" placeholder="Type salary name." />
        <span class="required">*@Html.ValidationMessage("Salary")</span><br />
        <input type="submit" name="btnSubmit" value="Save Employee" class="btn btn-primary" onclick="IsValid()" />
        <input type="button" name="btnReset" value="Reset" class="btn btn-info" onclick="ResetForm()" />
        <input type="button" name="btnCancel" value="Cancel" class="btn btn-default" onclick="RedirectIndex()" />
    </form>
</div>
<script>
    function ResetForm() {
        $(":text").val("");
        $("#Salary").val(null);
    }

    function RedirectIndex() {
        location.href = "/Employee/Index";
    }
</script>
<script src="~/Scripts/Validations.js"></script>